h1{
    text-align: center;
}

form{
    text-align: center;
}

p{
    text-align: center;
    word-break: break-all;
    overflow: auto;
}

h2{
    text-align: center;
}

.cardImage{
    text-align: center;
    width: 15%;
    position: relative;
}

.imageContainer{
    text-align: center;
}